.app_container {
    background-color: var(--backgraound-color);
    min-height: 100vh !important;
 }



.my-facebook-button-class {
  border: none;
  background-color: white;
}


/*Nav*/
.nav {
  border: solid 1px black;
  font-size: 12px;
}



.Nav_Tags {
  background-color: var(--backgraound-color-card-review);
  color: var(--text-color-card-review) !important;
}

.my-facebook-button-class.metro {
    background: none;
}

/*Card item*/

.card_item_review {
    background-color:var(--backgraound-color-card-review) ;
    color: var(--text-color-card-review);
    box-Shadow: var(--box-Shadow-title-review);
 }
.card_aftor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.card_aftor_icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.btn_like {
    color: #FFB6C1;
}

.tag_item {
    display: inline-block;
    align-items: center;
    padding: 3px 8px;
    margin-left: 5px;
    border-radius: 10px;

    background-color: var(--backgraound-color-tags) !important;
    color: var(--text-color-tags);
    font-size: 11px;
}
.tag_form {
    background-color: var(--backgraound-color-tags--form) !important;

}

/*page review*/

.title_review { 
    box-Shadow: var(--box-Shadow-title-review);
    padding: 10px 25px;
    margin: 0 auto;
    width: max-content;
    color: var(--text-color-card-review);
  }

.card_aftor--review{
    display: flex;
    justify-content:flex-start;
    column-gap: 25px;
    align-items: center;
}

.review_info {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-card-review);
    border-radius: 10px;
    padding: 15px
}

.text_review {
    margin-top: 25px;
    background-color: var(--backgraound-color-review);
    padding: 20px;
    border-radius: 20px;
}

.rating {
    display: flex;
    column-gap: 10px;
}
.container_table {
    overflow-x: scroll;
}

.form_comment {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-card-review);
    border: 1px solid grey;
}

.form_comment:focus {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-card-review);
    border: 1px solid grey;
}
.form-control:disabled {
    background-color: var(--backgraound-color-card-review);
}

#text {
    color: var(--text-color-card-review);
}

.comment_body {
    background-color: var(--backgraound-color-comment-body);
    color: var(--text-color-comment);
}

.comment_header {
    background-color: var(--backgraound-color-comment-header);
    color: var(--text-color-comment);
}

.blockquote-footer {
    color: var(--text-color-comment);
}



/*review-form */

.form_img {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-card-review);
    border-radius: 10px;
}
.form_title {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-card-review);
    border-color:  var(--border-color);
}
.form_title:focus {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-card-review);
    border-color:  var(--border-color);
}

.product_form {
    width: 10px;
}

.alert {
    position: fixed;
    top: 10%;
}

.list_autcompl {
    background-color: var(--backgraound-color-card-review);
}

.review_form_text {
    background-color: var(--backgraound-color-card-review);
    border-color: var(--border-color);
}

.review_form_text:focus {
    background-color: var(--backgraound-color-card-review);
    border-color: var(--border-color);
}

.grade_form {
    background-color: var(--backgraound-color-card-review);
    color: var(--text-color-tags);
    border-color: var(--border-color);
}

.type_form {
    background-color: var(--backgraound-color-card-review);
    border-color: var(--border-color);
}


/*review table*/
.review_table {
    color: var() !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    color: var(--text-color-card-review);

}

.table {
    --bs-table-color: var(--text-color-card-review);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--text-color-card-review);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}
.table:hover{
    color: var(--text-color-card-review) !important;

}

/*modal Auth*/

.auth_social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    column-gap: 15px;
}

.form_Auth {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}

.btn_auth {
    display: flex;
    margin: 0 auto;
}

.btn_auth--reg {
    margin-top: 10px;
}


/*pagination*/
.active .page-link {
    background-color: var(--backgraound-color-tags);
    border-color: var(--backgraound-color-tags);
    color: var(--text-color-tags);
}

.page-link {
    color: var(--text-color-tags);
}
.page-link:hover {
    color: var(--text-color-tags);
}

.my-autocomplete .MuiOutlinedInput-root {
    max-height: 38px;
    padding: 0 !important;
  }