body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*dark theme*/
html[data-theme='dark'] {
    --button-text-color: #ffffff;
    --backgraound-color: #121212;

    /*main page*/
    --backgraound-color-card-review: rgb(85 88 99 / 45%);
    --text-color-card-review: #e9ecef;
    --backgraound-color-tags: #BB86FC;
    --text-color-tags: black;

    /*component Tags*/
    --backgraound-color-tags--form: #BB86FC;


    /*review page*/
    --box-Shadow-title-review: 0px 5px 8px -5px #BB86FC;
    --backgraound-color-review: #18171770;

    /*component Comment*/
    --backgraound-color-comment-body: #000000a8;
    --backgraound-color-comment-header: #181717a8;
    --text-color-comment: black;

    --border-color: #aba9a900;

    /*popup*/
    --backgraound-color-popup: rgb(50 51 51);

}



/*light theme*/
html[data-theme='light'] {
    --button-text-color: black;

    /*main page*/
    --backgraound-color-card-review:rgb(245, 245, 245);
    --backgraound-color-tags: #FFB6C1;
    --text-color-tags: black;

    /*component Tags*/
    --backgraound-color-tags--form: rgba(0, 0, 0, 0.196);

    /*review page*/
    --box-Shadow-title-review: 0px 5px 5px -5px #9a8ea8;
    --backgraound-color-review: white;

    /*component Comment*/
    --backgraound-color-comment-body: rgb(245, 245, 245);
    --backgraound-color-comment-header: #1817172e;
    --text-color-comment: black;

    --border-color: rgba(0, 0, 0, 0.211);

    /*popup*/
    --backgraound-color-popup: white;
}   